/** {
  outline: 1px dashed rebeccapurple;
}*/

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./vendor/fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
  url("./vendor/fonts/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./vendor/fonts/Inter-Black.woff2?v=3.15") format("woff2"),
  url("./vendor/fonts/Inter-Black.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./vendor/fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
  url("./vendor/fonts/Inter-Bold.woff?v=3.15") format("woff");
}

.body {
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: Inter, Arial, sans-serif;
  word-break: break-word;
  --width_offset_1023: 24px;
  --width_offset_767: 16px;
  --width_offset_1279: 48px;
}

.body::-webkit-scrollbar {
  display: none;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px var(--width_offset_1279) 0 var(--width_offset_1279);
}

@media screen and (max-width: 1023px){
  .page {
    padding: 28px var(--width_offset_1023) 0 var(--width_offset_1023);
  }
}

@media screen and (max-width: 767px){
  .page {
    padding: 16px var(--width_offset_767) 0 var(--width_offset_767);
  }
}

.header {
  max-width: 1184px;
  height: 52px;

  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px){
  .header {
    font-size: 40px;
    height: 42px;
  }
}

.header__logo {
  width: 176px;
  height: 100%;
  margin: 0 auto 0 0;

  background-image: url("./images/header-logo.svg");
  background-size: contain;
}

@media screen and (max-width: 767px){
  .header__logo {
    width: 142px;
  }
}

.header__lang {
  display: flex;
}

.header__lang-link {
  margin: 18px 0 0 18px;

  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  text-underline-position: under;
}

@media screen and (max-width: 767px){
  .header__lang-link {
    margin: 14px 0 0 18px;
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link_active {
  text-decoration: underline;
}


/*---------------------lead------------------------*/


.lead {
  position: relative;
  max-width: 984px;
  margin: 56px auto 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px){
  .lead {
    margin: 48px auto 0 auto;
  }
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0 auto;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .lead__subtitle {
    margin: 16px auto 0 auto;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__figure {
  margin: 64px 0 0 0;
  position: relative;

  font-size: 0;
}

@media screen and (max-width: 1279px){
  .lead__figure {
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 767px){
  .lead__figure {
    margin: 40px 0 0 0;
  }
}

.lead__image_combinator {
  position: relative;
}

@media screen and (max-width: 1023px){
  .lead__image_combinator {
    min-width: calc(100% + var(--width_offset_1023) + var(--width_offset_1023));
    left: calc(0px - var(--width_offset_1023));
  }
}

@media screen and (max-width: 767px){
  .lead__image_combinator {
    min-width: calc(100% + var(--width_offset_767) + var(--width_offset_767));
    left: calc(0px - var(--width_offset_767));
  }
}

.lead__image {
  width: 100%;
}

.lead__overlay {
  width: 95%;
  position: absolute;
  top: 14.5%;
  left: 2.5%;
}

.lead__caption {
  margin: 8px 0 0 0;

  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/*------------------------intro--------------------------*/

.intro {
  max-width: 984px;
  margin: 92px auto 0 auto;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px){
  .intro {
    margin: 88px auto 0 auto;
  }
}

@media screen and (max-width: 767px){
  .intro {
    margin: 64px auto 0 auto;
  }
}

.intro__title {
  max-width: 690px;
  margin: 0;

  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 767px){
  .intro__title  {
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  max-width: 690px;
  margin: 40px 0 0 0;

  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  margin: 33px 0 0 0;
  padding: 0;

  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}



/*------------photo-grid------------------------------*/

.photo-grid {
  max-width: 1184px;
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1023px){
  .photo-grid {
    margin: 88px auto 0 auto;
  }
}

@media screen and (max-width: 767px){
  .photo-grid {
    margin: 64px auto 0 auto;
  }
}

.photo-grid__container {
  padding: 0;
  margin: 0;
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;

  list-style-type: none;
  font-size: 0;
}

@media screen and (max-width: 1279px){
  .photo-grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px){
  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px){
  .photo-grid__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
}

/*-----------------------------------places------------------------------------*/

.places {
  max-width: 984px;
  margin: 92px auto 0 auto;
  position: relative;

  display: grid;
  grid-gap: 80px;
}

@media screen and (max-width: 1023px){
  .places {
    margin: 88px auto 0 auto;
    grid-gap: 73px;

  }
}

@media screen and (max-width: 767px){
  .places {
    margin: 64px auto 0 auto;
    grid-gap: 50px;
  }
}

.place {
  display: grid;
  grid-template-columns: 46.74% 1fr;
  grid-template-rows: auto auto;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1279px){
  .place {
    grid-gap: 48px 32px;
    grid-template-columns: 47.41% 1fr;
  }
}

@media screen and (max-width: 1023px){
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: 47.22% 1fr;
  }
}

@media screen and (max-width: 767px){
  .place {
    grid-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}


.place__title {
  width: 100%;
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1023px){
  .place__title  {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px){
  .place__title  {
    font-size: 32px;
    line-height: 35px;
  }
}

.place__website {
  align-self: end;
}

.place__url-heading {
  margin: 0;

  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width: 1279px){
  .place__url-heading {
    line-height: 12px;
  }
}

.place__link {
  display: block;
  margin: 12px 0 0 0;

  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  text-underline-position: under;
}

.place__image {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 767px){
  .place__image {
    min-width: calc(100% + var(--width_offset_767) + var(--width_offset_767));
    left: calc(0px - var(--width_offset_767));
  }
}

.place__paragraph {
  margin: 0 0 26px 0;

  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1023px){
  .place__paragraph {
    font-size: 16px;
  }
}

.place__paragraph:last-child {
  margin: 0;
}

/*------------------------cover------------------------------*/

.cover {
  position: relative;
  max-width: 1184px;
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1279px){
  .cover {
    min-width: calc(100% + var(--width_offset_1279) + var(--width_offset_1279));
    left: calc(0px - var(--width_offset_1279));
  }
}

@media screen and (max-width: 1023px){
  .cover {
    margin: 90px auto 0 auto;
    min-width: calc(100% + var(--width_offset_1023) + var(--width_offset_1023));
    left: calc(0px - var(--width_offset_1023));
  }
}

@media screen and (max-width: 767px){
  .cover {
    margin: 66px auto 0 auto;
    min-width: calc(100% + var(--width_offset_767) + var(--width_offset_767));
    left: calc(0px - var(--width_offset_767));
  }
}

.cover__link {
  width: 100%;
  min-height: 740px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-decoration: none;
}

.cover__link::before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(42, 44, 47, 0.3)
 }

.cover__link:hover:before{
  background-color: rgba(42, 44, 47, 0.8)
}

@media screen and (max-width: 1279px){
  .cover__link {
    min-height: 640px;
    padding-top: calc(31.25% - 320px);
    padding-bottom: calc(31.25% - 320px);
  }
}

@media screen and (max-width: 1023px){
  .cover__link {
    min-height: 480px;
    padding-top: calc(31.25% - 240px);
    padding-bottom: calc(31.25% - 240px);
  }
}

@media screen and (max-width: 767px){
  .cover__link {
    min-height: 200px;
    padding-top: calc(31.25% - 100px);
    padding-bottom: calc(31.25% - 100px);
  }
}

.cover__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover__title{
  max-width: 560px;
  margin: 0;
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}

.cover__subtitle {
  margin: 32px 0 0 0;
  max-width: 360px;

  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .cover__subtitle {
    margin: 16px 0 0 0;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

/*-------------------------footer----------------------------*/

.footer {
  max-width: 1184px;
  margin: 92px auto 24px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 1023px){
  .footer {
    margin: 88px auto 24px auto;
  }
}

@media screen and (max-width: 767px){
  .footer {
    margin: 64px auto 24px auto;
    flex-direction: column;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 767px){
  .footer__links {
    flex-direction: column;
  }
}

.footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px){
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link-wrapper{
  margin: 0 18px 0 0;
}

@media screen and (max-width: 767px){
  .footer__link-wrapper {
    margin: 0 0 32px 0;
  }
}

.footer__link-wrapper:last-child  {
  margin: 0;
}

.footer__copyright {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 767px){
  .footer__copyright {
    margin: 48px 0 0 0;
    line-height: 14px;
  }
}

.link {
  transition: opacity 0.5s ease-in-out;
}

.link:hover {
  opacity: 0.7;
}