@media screen and (max-width: 1279px){
  .TMP {
    color: blue;

  }
}

@media screen and (max-width: 1023px){
  .TMP {
    color: red;

  }
}

@media screen and (max-width: 767px){
  .TMP {
    color: green;

  }
}

min-width: calc(100% + var(--width_offset_767) + var(--width_offset_767));
left: calc(0px - var(--width_offset_767));