.header__logo {
  width: 176px;
  height: 100%;
  margin: 0 auto 0 0;

  background-image: url("../../../images/header-logo.svg");
  background-size: contain;
}

@media screen and (max-width: 767px){
  .header__logo {
    width: 142px;
  }
}