.intro {
  max-width: 984px;
  margin: 92px auto 0 auto;
  padding: 0 var(--width_offset_1279) 0 var(--width_offset_1279);

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px){
  .intro {
    margin: 88px auto 0 auto;
    padding: 0 var(--width_offset_1023) 0 var(--width_offset_1023);
  }
}

@media screen and (max-width: 767px){
  .intro {
    margin: 64px auto 0 auto;
    padding: 0 var(--width_offset_767) 0 var(--width_offset_767);
  }
}