.lead__figure {
  margin: 64px 0 0 0;
  position: relative;

  font-size: 0;
}

@media screen and (max-width: 1279px){
  .lead__figure {
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 767px){
  .lead__figure {
    margin: 40px 0 0 0;
  }
}