.place {
  display: grid;
  grid-template-columns: 46.74% 1fr;
  grid-template-rows: auto auto;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1279px){
  .place {
    grid-gap: 48px 32px;
    grid-template-columns: 47.41% 1fr;
  }
}

@media screen and (max-width: 1023px){
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: 47.22% 1fr;
  }
}

@media screen and (max-width: 767px){
  .place {
    grid-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}