.footer {
  max-width: 1184px;
  margin: 92px auto 24px auto;
  padding: 0 var(--width_offset_1279) 0 var(--width_offset_1279);

  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 1023px){
  .footer {
    margin: 88px auto 24px auto;
    padding: 0 var(--width_offset_1023) 0 var(--width_offset_1023);
  }
}

@media screen and (max-width: 767px){
  .footer {
    margin: 64px auto 24px auto;
    padding: 0 var(--width_offset_767) 0 var(--width_offset_767);

    flex-direction: column;
  }
}